<h1 class="page-header">Sign Up</h1>

<%= simple_form_for @account, url: do_sign_up_path, html: {class: 'form-horizontal'} do |f| %>
  <%= render 'layouts/shared/error_messages', object: @account %>
  
  <%= f.input :name %>
  <%= f.input :subdomain %>
  
  <%= f.simple_fields_for :owner do |owner| %>
    <%= owner.input :email, as: :email_icon %>
    <%= owner.input :password %>
    <%= owner.input :password_confirmation %>
  <% end %>
  
  <div class="form-group actions">
    <div class="col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>